.contact-bgImg-container{
    @include bgImage(100vh, $main-bgImage-path);

    nav{
        height: 50vh;
    }
};

.contact{
    height: 5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    &_list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        font-size: 2rem;
    }
    .text-secondary{
        color: greenyellow;
        margin: 1rem;
    }
}